*{
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: auto;
    left: 0;
    right: 0;
}
.global-nav-bar{
    background-color: #fff;
    left: 0;
    padding: 0 2.4rem;
    position: sticky;
    top: 0;
    width: 100vw;
    height: 8vh;
    z-index: 100;
    border-bottom: 1px solid rgb(140, 140, 140, 0.2);
}
/* .global-nav__content {
    align-items: center;
    display: flex;
    margin: 0 auto;
    min-height: 100%;
    width: 1128px;
} */

.navStart{
    align-items: center;
    display: flex;
    /* position: fixed; */
    margin: 0 auto;
    min-height: 100%;
    width: 91%;
    height: 8vh;
    /* min-height: 3rem;
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 6vh;
    padding: 0 var(--spacing-three-x);
    z-index: 100;
    display: flex;
    align-items: center;
    margin: 0 0 0.1% 0; 
    background-color: #fff;
    border-bottom: 1px solid var(--color-border-faint); *//* rgb(202, 212, 188); */
}
.navStart_logo{
    margin: auto 10px auto 0;
}
.navLogo{
    /* margin: 3px 1% 0 10%; */
    margin: auto;
}
.smallLogo{
    height: 33px;
    width: auto;
    /* margin: 0 1% 0 -65%; */
    margin: auto;
}

.faIcons {
    margin: auto;
    font-size: 0.9rem;
    color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.faIcons p{
    font-size: 0.9rem;
    font-family: sans-serif;
    text-decoration: none;
}

.homeIcon,
.networkIcon,
.jobsIcon,
.msgIcon,
.notificationsIcon,
.meIcon{
    font-size: 11px;
    color: #666666;
    text-decoration: none;
    margin: 0;
}

.meIcon{
    margin-left: 2px;
    width: 20px;
}

.navStart button{
    height: 28px;
    width: 4%;
    border-radius: 15px;
    border: 1px solid transparent;
    margin: 0 0 0 5px;
    /* background-color: #0A66C2; */
    color: #fff;
    display: none;
}

.rightSection{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
    width: 73%;
    height: 8vh;
    box-sizing: border-box;
    margin-left: 15%;
}
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8%;
    margin: 0 5px;
    /* padding: 1%; */
}

.network {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12%;
    margin: 0 5px;
    /* padding: 1%; */
}

.jobs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8%;
    margin: 0 5px;
    /* padding: 1%; */
}
.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    margin: 0 5px;
    /* padding: 1%; */
}
.notification{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12%;
    margin: 0 5px;
    /* padding: 1%; */
}
.signout{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 12%;
    padding: 1%;
    text-decoration: none;
}
.business{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    width: 15%;
    border-left: 0.5px solid #80808038;
}

.homeLink,
.netLink,
.jobLink,
.msgLink,
.notifyLink,
.notifyLinkBusiness,
.signoutLink
{
    text-decoration: none;
    color: #666666;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeLink:hover,
.netLink:hover,
.jobLink:hover,
.msgLink:hover,
.notifyLink:hover,
.notifyLinkBusiness:hover,
.signoutLink:hover
{
    text-decoration: none;
    font-weight: 600;
}

.notifyLinkBusiness{
    padding: 0 10px;
}

.meIcon:hover{
    font-weight: 600;
}

.homeLogo {
    text-decoration: none;
}

.mainContainer{
    height: auto;
    min-height: auto;
    width: 100%;
  /*   margin-top: 50px; */
    display: flex;
    justify-content: center;
    background-color: #F3F2EF;
    /* overflow: auto; */
}

.MiddleBar{
    height: auto;
    width: 40%;
}

.PostShare{
    height: auto;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 5.5% 0 4.25%;
    border: 1px solid rgb(202, 212, 188);
}
.shareIcon{
    font-size: 1.5rem;
    color: grey;
    margin: 4% 3%;
}

.user_profile{
    display: flex;
    align-items: center;
    margin-left: 2%;
}

.postMsg{
    width: 98%;
    cursor: pointer;
}

.PostShare input{
    height: 8vh;
    width: 90%;
    border-radius: 20px;
    border: 1px solid  rgb(140, 143, 135);
    margin: 4% 3%;
    padding: 5px 5px 5px 10px;
}

.photoIcon {
    font-size: 1.5rem; 
    margin: 2% 5%;
    color: #0A66C2;
    cursor: pointer;
}

.videosIcon{
    font-size: 1.5rem;  
    margin: 2% 5%;
    color: green;
    cursor: pointer;
}

.eventsIcon{
    font-size: 1.5rem; 
    margin: 2% 5%;
    color: orange;
    cursor: pointer;
}

.articleIcon{
    font-size: 1.5rem;  
    margin: 2% 5%;
    color: red;
    cursor: pointer;
}

.sections{
    color: rgb(95, 95, 97);
}
.working_on_div__pad{
    text-align: center;
    padding: 20px;
    font-size: 1.2rem;
    margin: 0 26%;
  }

  .share_box{
    display: flex;
    justify-content: center;
    padding: 1%;
  }
  .share_box >p{
    padding: 2px;
  }

.share_box-1{
    display: flex;
    width: 30%;
    border: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.share_box-2{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}
.share_box-3{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 35%;
    border: none;
    cursor: pointer;
}
.photos,
.events,
.article{
    margin: 2px 0;
}
.postDiv{
    height: auto;
    width: 100%;
    border: 1px solid rgb(202, 212, 188);
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 20px;
}
.postME{
    font-size: 29px;
    margin: 10px 0px 0px 20px;
}
.postDiv h3{
    margin: 5px 0px 0px 20px;
    color: black;
}
.testingHeading{
    margin: 0 0 0 10px;
    font-size: 14px;
    font-weight: 600;
}
.postMsg{
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 3px 0 0 5px;
}

.testingPara{
    margin: 10px 0px 5px 20px;
}

.likeArrow{
    font-size: 25px;
    margin: 5%;
    /* color: blue; */
}
.shareDetail{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.like_button{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
}
.comment{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: flex-start;
}
.deleteComment{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.commentArrow{
    font-size: 25px;
    margin: 5%;
}
.commentArrow span{
    font-size: 14px;
    margin: 5px 0px 10px 0px;
}
.comment-profile-pic{
    display: flex;
    justify-content: space-between;
}
.profile-pic-comment{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: auto;
    padding: 0% 2%;
}
.profile-picture{
    width: 7vh;
    height: auto;
}
.comntMe{
    color: grey;
    margin: 10% 25%;
}
.commentDiv{
    height: auto;
    width: 100%;
    border: none;
    margin: 0;
    border-radius: 20px;
    background-color: #fff;
    padding: 5px;
}
.commentDiv input{
    height: 7vh;
    width: 95%;
    border-radius: 20px;
    padding-left: 10px;
}
.comment-reply{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.reply-profile{
    display: flex;
    width: 97%;
    margin: 2%;
}

.h5_title{
    color: black;
    margin: 0 2% 2%;
    font-size: 16px;
    font-weight: 600;
}
.showComnt{
    margin: 0 0 0 5%;
    color: #201f1f;
    font-size: 13px;
    font-weight: bold;
}

.loginOut{
    margin-left: -16px;
}

.user-name{
    text-decoration: none;
}

.comment-btn{
    border-radius: 5px;
}

span{
    font-size: 14px;
    text-decoration: none;
    color: black;
}

ul li {
    list-style-type: none;
    font-size: 9px;
} 

.shareDetail-like,
.shareDetail-comment,
.shareDetail-delete{
    font-weight: bolder;
    font-size: 14px;
}

#autocomplete{
    height: 19px;
    width: 20%; 
    padding: 0 3px;
    margin: 0 3px;
    font-size: 10px;
    overflow: visible;
}
#text-field{
    height: 33px;
    width: 100%;
    line-height: 1.75;
    font-weight: 400;
    padding: 0 10px;
    /* margin: -1px -2px; */
    border-radius: 0.4rem;
    border: none;
    font-size: 14px;
    background-color: #EDF3F8;
    color: rgb(0, 0, 0, 0.9);
}
.loading-screen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .logo{
    width: 48px;
    height: 48px;
  }
  
  .loading-bar{
    width: 130px;
    height: 2px;
    background: #cfcfcf;
    margin-top: 22px;
    position: relative;
    overflow: auto;
  }

  @keyframes bluebar{
    50%{
      left: 96px;
    }
  }

  .loading-bar::before{
    content: '';
    width: 68px;
    height: 2px;
    background: #0073b1;
    position: absolute;
    left: -34px;
    animation: bluebar 1.5s infinite ease;
  }
  
  .loading__text{
    font-size: 36px;
  }
  .logo_text{
    height: 30px;
  }
  .error_post_div{
    color: rgb(248, 61, 61);
    text-align: center;
  }
  
  .input__feed_style{
    flex: 0.9;
    border: 1px solid lightgray;
    border-radius: 30px;
    padding: 10px;
    color: gray;
    cursor: pointer;
    margin-top: 5px;
    padding-left: 15px;
    margin-left: 10px;
  }
  .search-options{
    width: -webkit-fill-available;
    position: absolute;
    z-index: 1;
    top: 33px;
  }
  .search-option {
    font-size: 14px;
    font-weight: bold;
    width: inherit;
    padding: 5px;
    border: 0.5px dashed lightgray;
    background-color: #EDF3F8 
  }
  .search-option.selected {
    background-color: #007BFF; 
    color: #fff; 
}
.modalHeader{
    width: 100%;
    justify-content: flex-start;
}

.textareaType{
    border: none;
}
.modalTitle{
    margin-left: 15px;
}

.premium-upsell-link{
    list-style-type: none;
}

.premium-upsell-link a{
    color: #915907;
}

.link-without-visited_link{
    display: flex;
    justify-content: center;
}

.premium-upsell-link-ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    list-style: none;
    text-decoration-line: underline;
}

.MediaModal{
    width: 80vw; 
    max-height: 800px;
}

.EventModal{
    width: 100vw; 
    max-height: 800px;
}
.modal_selectFile{
    margin: 95px 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
}

.modal_selectFile p{
    padding: 0;
    margin: 0;
}
/* .modal-content{
    width: 723px;
    height: 650px;
} */

.sizeIncrease{
    margin-left: auto;
}
.modal-body{
    width: 100%;
    height: 340px;
}
.media{
    width: 100%;
    height: 530px;
    border-radius: 5px;
    overflow: -moz-hidden-unscrollable;
}

.title{
    font-size: 18px;
}
.uploadButton{
    width: 20vw;
    height: 5vh;
    background-color:#0A66C2;
    color: #fff;
    border-radius: 30px;
    font-weight: 700;
    margin: 5px 0 0;
}

.event-form{
    width: 100%;
    padding: 10px 0;
    border-top: 0.5px solid #80808038;
    margin-top: 1rem!important;
    margin: auto 5px;
}
.event-body{
    margin: 0;
}
.modal_selectFile-event{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    background-color: #f4f2ee;
}
.p-message{
    color: #666666;
}
.radio{
    width: 98%;
    display: flex;
    justify-content: flex-start;
}
.online{
    width: 25%;
    margin: 0 15px;
    display: flex;
    justify-content: left;
}
#online{
    margin-right: 10px;
    width: 20%;
    height: 1.5em;
}
#inPerson{
    width: 20%;
    margin-right: 10px;
    height: 1.5em;
}
.inPerson{
    width: 25%;
    margin: 0 15px;
    display: flex;
    justify-content: left;
}
input[type=radio]{
    border: 10px solid green;
}
.form-input{
    padding: 10px 0;
}
.form{
    padding: 0;
}
#event-format{
    width: 100%;
    height: 5vh;
    border-radius: 4px;
}
#event-format:hover{
    border: 1px solid #201f1f;
}
#event-name{
    width: 100%;
    height: 5vh;
    border-radius: 4px;
}
.eventName{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.start-date{
    margin: 10px 0 0;
}
.selectDate{
    display: flex;
    justify-content: space-between;
}
.start-date{
    width: 46%;
    display: flex;
    flex-direction: column;
}
#startDate{
    /* width: 18vw; */
    margin: 5px 0;
}
.start-time{
    width: 46%;
    display: flex;
    flex-direction: column;
    margin: 10px 0 0;
}
#startTime{
    /* width: 18vw; */
    margin: 5px 0;
}
#addDatetimeCheck{
    width: 18px;
    height: 3vh;
    margin: 15px 10px 0 0;
}
.addDatenTime{
    display: flex;
    margin: 10px 0;
}
.checkdateNtime{
    margin: 15px 0 0;
}
.selectEndDate{
    display: flex;
    justify-content: space-between;
}
.end-date{
    width: 46%;
    display: flex;
    flex-direction: column;
}
.end-time{
    width: 46%;
    display: flex;
    flex-direction: column;
}
#endDate{
    margin: 4px 0;
}
#endTime{
    margin: 4px 0;
}
.description{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
#descrip{
    margin: 4px 0;
}
.speakerDiv{
    display: flex;
    flex-direction: column;
}
#speaker{
    height: 5vh;
    border-radius: 4px;
}
.modal-footer{
    width: 100%;
}
.article-mainSection{
    /* width: 90%; */
    background-color: #fff;
    left: 0;
    top: 0;
    padding: 0 5.5rem;
    width: 98vw;
    height: 10vh;
    border-top: 0.5px solid #80808038;
    border-bottom: 0.5px solid #80808038;
}
.article-Link{
    text-decoration: none !important;
    color: initial !important;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}
.article-headerSection{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 9vh;
    margin: 2px;
}
.profileDetail{
    width: 25vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
}
.profileDetail ul li{
    list-style-type: none;
    font-size: 12px;
    width: 20vw;
}
.profileDetail li:first-child{
    font-size: 15px;
    font-weight: 600;
}
.profileDetail-header{
    margin: 5px 0 0;
}
.article-formattingDiv{
    display: flex;
    padding: 0.4rem 2.4rem;
    column-gap: 1.6rem;
    background-color: #f4f2ee;
    border-radius: 2.4rem;
    border: none;
    justify-content: center;
}
.btn-rightSection{
    display: flex;
    justify-content: flex-end;
    height: inherit;
}
.artdeco-dropdown {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    margin: 12px 6px;
    padding: 0;
    position: relative;
}
.artdeco-button--2{
    background-color: hsla(0,0%,100%,0);
    color: #0a66c2;
    border-color: #0a66c2;
    border-radius: 1.6rem;
    padding: 0 0.5rem;
    min-height: 2.2rem;
    min-width: 8vw;
    font-size: 14px;
}
.next{
    /* margin-left: 1.2rem; */
    border-radius: 1.6rem;
    padding: 0 1rem;
    margin: 14px 6px;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: 167ms;
    align-items: center;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    font-family: inherit;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    min-width: 4.4rem;
    max-width: 80px;
    height: 5vh;
    overflow: hidden;
    text-align: center;
    transition-property: background-color,box-shadow,color;
    vertical-align: middle;
    background-color: #0a66c2;
    color: #fff;
}
.article-editor-cover-image__placeholder {
    display: flex;
    margin: 0 auto 3.2rem;
    width: 720px;
    max-width: 95%;
    height: 304px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: #f2f4ee;
    box-shadow: inset 0 0 0 1px rgb(140, 140, 140, 0.2);
}
.visually-hidden{
    display: block;
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.article-editor-cover-image__label {
    display: inline-block;
    margin: 1.2rem 0 0.3rem;
    color: rgb(0, 0, 0, 0.6);
    box-shadow: inset 0 0 0 1px rgb(0, 0, 0, 0.75);
    padding: 0.6rem 1rem;
    border-radius: 1.6rem;
}
.article-editor-cover-image__placeholder-description{
    font-weight: 400;
    line-height: 1.5;
    color: rgb(0, 0, 0, 0.9);
}
.article-editor-headline {
    margin: 1.6rem auto;
    width: 720px;
    max-width: 98%;
}
.a11y-text{
    border: 0;
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    color: rgb(0, 0, 0, 0.6);
}
.article-editor-headline__textarea {
    padding: 0 10px;
    border: none;
    box-shadow: none;
    font-size: 2.8rem;
    color: rgb(0, 0, 0, 0.9);
    overflow-y: hidden;
    resize: none;
}
.article-editor-content__canvas {
    position: fixed;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #fff;
}
.article-editor-content {
    margin: 0 auto;
    width: 720px;
    max-width: 98%;
}

.article-editor-headline__textarea:hover {
    outline: 0;
    box-shadow: none;
    background: 0 0;
}
p.article-editor-content__paragraph {
    margin: 1.6rem 0;
    font-size: 1.5rem;
    color: rgb(0, 0, 0, 0.6);
    line-height: 1.75;
    padding: 0 20px;
}
.article-editor-content--is-empty:first-child::before {
    float: left;
    height: 0;
    /* color: rgb(0, 0, 0, 0.6); */
    content: attr(data-placeholder);
    pointer-events: none;
}




@media screen and (min-width: 581px) and (max-width: 750px) {
    *{
        font-size: 1.15rem;
    }
    .main{
        position: relative;
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: flex-start;
    }
    .global-nav-bar {
        margin: 0;
        padding: 0;
    }

    .mainContainer{
        display: inline-block;
        /* margin-top: 2%; */
    }
     
    .navStart{
            width: 98%;
            margin: 0 0 0 3px;
    }

    .navLogo {
        margin: 3px 0 0 5%;
    }

    p {
        display: none;
    }

    .MiddleBar{
        display: inline-block;
        max-width: 100%;
        width: 100%;
        margin: 0;
        font-size: 0.8rem;
    }

    .PostShare{
        height: auto;
        width: 100%;
        border-radius: 4px;
        margin: 3.5% 0 4.25%;
    }
    .PostShare input{
        height: 7vh;
        width: 90%;
    }

    .PostShare button{
        height: auto;
        width: 19%;
    }
    .photoIcon,
    .videosIcon,
    .eventsIcon,
    .articleIcon{
        margin: 1% 8%;
    }
    .postDiv{
        height: auto;
        width: 100%;
        border-radius: 4px;
    }
    .postMsg{
        width: 70%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    /* .rightSection{
        margin-left: 3%;
        width: 80%;
        padding: 0;
    } */
     .home, .network, .jobs, .message, .notification, .signout {
        width: 17%;
        padding: 0 ;
    }

    .faIcons {
        font-size: 24px;
    }
    .showComnt {
        margin: 3%;
        font-size: 18px;
        font-weight: bold;
    }
    .working_on_div__pad{
        text-align: center;
        padding: 20px;
        font-size: 1.2rem;
        margin: 0 15% 0 25%;
      }
      .rightSection{
        margin: 0 15px 0 100px;
        width: 70%;
        padding: 0;
      }
      .premium-upsell-link {
        list-style-type: none;
        width: 25%;
        margin-left: 3px;
    }
    p.article-editor-content__paragraph {
        display: block;
    }
    .article-mainSection {
        padding: 0 1rem;
    }
}

@media screen and (min-width: 281px) and (max-width: 580px) {

    .global-nav-bar{
        margin: 0;
        width: 100%;
    }
    /* .navStart{
        width: 99%;
        margin: 0 0 5px;
    } */

    .mainContainer{
        display: inline-block;
        margin-top: -8%;
    }

    .faIcons {
        font-size: 18px;
    }
    .navLogo{
        margin: 3px 0.5% 0 8%;
    }

    .photoIcon,
    .videosIcon,
    .eventsIcon,
    .articleIcon{
        margin: 1% 9%;
    }

    p {
        display: none;
    }

    .MiddleBar{
        display: inline-block;
        max-width: 100%;
        width: 100%;
        margin: 0;
        /* font-size: 0.8rem; */
    }

    .PostShare{
        height: auto;
        margin: 5% 0;
        border-radius: 4px;
        width: 100%;
    }
    .PostShare input{
        height: 6vh;
        width: 90%;
    }

    .PostShare button{
        height: auto;
        width: 19%;
    }
    .photoIcon,
    .videosIcon,
    .eventsIcon,
    .articleIcon{
        margin: 1% 9%;
        font-size: 1.6rem;
    }
    .postDiv{
        height: auto;
        margin-bottom: 5%;
        width: 100%;
        border-radius: 4px;
    }
    .loading__text{
        display: block;
    }
    .showComnt {
        margin: 3%;
        font-size: 14px;
        font-weight: bold;
    }
    .commentDiv input {
        height: 6vh;
    }
    /* .profileDetail {

    } */
    p.article-editor-content__paragraph {
        display: block;
        padding: 0 10px;
    }
    .article-mainSection {
        padding: 0 1rem;
    }
}
   
@media screen and (min-width: 281px) and (max-width: 303px) {
    .rightSection{
        margin-left: 0;
        width: 80vw;
        height: 7vh;
        justify-content: space-between;
    }
}

@media screen and (min-width: 304px) and (max-width: 499px) {
    .rightSection{
        margin-left: 70px;
        width: 70vw;
        height: 7vh;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 280px){

.navStart{
    width: 100%;
    max-width: 100%;
    height: 6vh;
}

.navStart_logo {
    margin: auto 25px auto 0;
}

.navLogo {
    margin: 3px -10px 0 10%;
}

.mainContainer{
    display: inline-block;
    margin-top: -10%;
}

.rightSection{
    margin-left: 0;
    padding: 0;
    width: 77vw;
    height: auto;
}
.faIcons {
    font-size: 15px;
}

/* .photoIcon,
.videosIcon,
.eventsIcon,
.articleIcon{
    margin: 1% 9%;
} */

p {
    display: none;
}

.MiddleBar{
    display: inline-block;
    max-width: 100%;
    width: 100%;
    margin: 0;
    /* font-size: 0.8rem; */
}

.PostShare{
    height: auto;
    margin: 5% 0;
    border-radius: 4px;
}
.PostShare input{
    height: 6vh;
    width: 90%;
}

.PostShare button{
    height: auto;
    width: 19%;
}
.photoIcon,
.videosIcon,
.eventsIcon,
.articleIcon{
    margin: 1% 9%;
    font-size: 1.6rem;
}
.postDiv{
    height: auto;
    margin-bottom: 5%;
    border-radius: 4px;
}
.faIcons {
    font-size: 18px;
}
.loading__text{
    display: block;
}
.commentDiv input {
    height: 5vh;
}
p.article-editor-content__paragraph {
    display: block;
}
}

@media screen and (min-width: 1025px){
    /* .global-nav{
        width: auto;
        height: auto;
    } */
    .rightSection{
        margin-left: 4%;
    }
    .search-icon{
        /* margin-left: 1%; */
        width: 100%;
    }
    .main-search-div{
        /* margin-left: -1%; */
        width: 100%;
        max-width: 280px;
        flex-grow: 1;
        z-index: 100;
        position: relative;
    }
}

@media screen and (max-width: 1024px) and (min-width: 441px){

    /* .navStart{
        height: 7vh;
        width: ;
    } */

    .main-search-div{
        margin-left: 1%;
    }
    /* .search{
        position: fixed;
        width: 15%;
        z-index: 999;
        top: 12px;
        background-color: #EDF3F8;
        transition: width 0.3s ease-in-out;
    } */
    /* .search-expanded{
        position: fixed;
        width: 85%;
        z-index: 999;
        top: 8px;
        background-color: #EDF3F8;
        transition: width 0.3s ease-in-out;
    } */
    .search-icon{
        /* width: 25%; */
        position: fixed;
        z-index: 999;
        top: 8px;
        background-color: #EDF3F8;
        transition: width 0.3s ease-in-out;
        box-sizing: border-box;
    }
    /* .rightSection{
        margin-left: 33%;
        width: 80%;
        padding: 0;
        overflow: auto;
    } */
    .faIcons {
        font-size: 20px;
    }
    .loading__text{
        display: block;
    }
    #text-field {
        height: 30px;
        width: 100%;
        padding: 0 3px;
        /* margin: -1px -2px; */
        border-radius: 5px;
        font-size: 12px;
        background-color: #EDF3F8;
    }
    .modal_selectFile p{
        display: block;
        font-size: 13px;
    }
    .uploadButton {
        width: 32vw;
        height: 6vh;
        font-size: 12px;
    }
}

@media screen and (max-width: 440px){

    /* .navStart{
        position: sticky;
        overflow: hidden;
    } */
    /* .search {
        position:fixed;
        width: 20%;
        z-index: 999;
        top: 4px;
        background-color: #EDF3F8;
        transition: width 0.3s ease-in-out;
        /* display: none;
    } */
    .search-expanded{
        position: fixed;
        z-index: 1000;
        top: 10px;
        background-color: #EDF3F8;
        width: 85%;
        transition: width 0.3s ease-in-out;
    }
    .search-icon{
        width: 25%;
        position: fixed;
        z-index: 999;
        top: 10px;
        background-color: #EDF3F8;
        transition: width 0.3s ease-in-out;
        box-sizing: border-box;
        /* display: none; */
    }
    #text-field {
        height: 30px;
        width: 100%;
        padding: 0 3px;
        margin: -1px -2px;
        border-radius: 5px;
        font-size: 12px;
        background-color: #EDF3F8;
    }
    .main-search-div{
        margin-left: 0;
    }
    /* .rightSection{
        margin-left: 24%;
        width: 80%;
        padding: 0;
    } */
    .faIcons {
        font-size: 18px;
    }
    .loading__text{
        display: block;
    }
    .working_on_div__pad{
        text-align: center;
        padding: 20px;
        font-size: 1rem;
        margin: 0 10%;
      }
      .modal-body {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .global-nav-bar {
        height: 7vh;
        padding: 0;
        /* width: 113vw; */
    }
    .navStart{
        height: 7vh;
        width: 98%;
    }
    .navStart_logo {
        margin: 4px 10px auto 0;
    }
    .search {
        position:fixed;
        width: 20%;
        z-index: 999;
        top: 4px;
        background-color: #EDF3F8;
        transition: width 0.3s ease-in-out;
        /* display: none; */
    }
    .smallLogo {
        height: 30px;
    }
    .mainContainer {
        margin-top: -8%;
        width: 100%;
    }
    /* .navStart{
        height: 7vh;
        width: 100%;
    } */
    .business{
        display: none;
    }
    /* .rightSection{
        margin: 0 10px 0 63px;
        width: 90vw;
        justify-content: space-evenly;
        height: 6vh;
    } */
    .premium-upsell-link{
        display: none;
    }
    .home,
    .network,
    .jobs,
    .message,
    .notification{
        width: 10%;
        margin: 0 4px;
    }
    .modal-body {
        width: 100%;
    }
    ul li {
        font-size: 9px;
    } 
}

@media screen and (min-width: 500px) and (max-width: 606px){
    .global-nav-bar{
        margin: 0;
        padding: 0;
    }
    .navStart {
        width: 98%;
        margin: 0 0 0 3px;
    }
    /* #text-field {

    } */
    .search {
        position: fixed;
        width: 15%;
        z-index: 999;
        top: 12px;
        background-color: #EDF3F8;
        transition: width 0.3s ease-in-out;
    }
    .rightSection{
        margin-left: 100px;
        width: 85%;
        padding: 0;
    }
    .business{
        display: block;
        margin-left: 10px;
    }
    .home,
    .network,
    .jobs,
    .message,
    .notification{
        width: 10%;
    }
    .media {
        width: 100%;
    }
    .modal_selectFile p{
        display: block;
    }
    .uploadButton {
        width: 32vw;
        height: 6vh;
        font-size: 12px;
    }
    .sizeIncrease {
        margin-left: 10%;
    }
}

@media screen and (max-width: 480px) {
    .sizeIncrease {
        margin-left: 10%;
    }

    .MediaModal{
        width: 80vw; 
        max-height: 800px;
    }
    
    .EventModal{
        width: 90vw; 
        max-height: 800px;
    }
    .media {
        width: 100%;
    }

    .article-mainSection {
      padding: 0 1rem; 
      height: auto; 
      width: 100vw;
    }
    .article-headerSection {
        width: 93vw;
    }
  
    .profileDetail {
      width: 100%; 
    }
  
    .profileDetail ul li {
      width: 100%; 
    }
  
    .btn-rightSection {
      justify-content: space-between; 
    }
    .artdeco-button--2 {
        padding: 1px 3px;
        width: 22vw;
        height: 5vh;
    }
    .next{
        min-width: 10vw;
        max-width: 20vw;
        margin: 12px 6px;
        font-size: 14px;
        padding: 1px 7px;
    }
  
    .article-editor-cover-image__placeholder {
      width: 78vw; 
      margin: 0 2.5rem;
    }
  
    .article-editor-cover-image__label {
      margin: 1.2rem 0 0.3rem; 
      font-size: 12px;
    }
  
    .article-editor-headline {
      margin: 1.6rem auto; 
      width: 100%;
    }
  
    .article-editor-headline__textarea {
      font-size: 1.7rem; 
    }
  
    p.article-editor-content__paragraph {
      font-size: 1.3rem; 
    }
    .modal-body {
        width: 100%;
        /* height: 65vh; */
    }
    .modal_selectFile{
        margin: 50px 5px 0;
    }
    .modal_selectFile p{
        display: block;
        font-size: 12px;
    }
    .title{
        font-size: 13px;
    }

    .uploadButton {
        width: 40vw;
        height: 6vh;
        font-size: 11px;
    }
  }