*{
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main{
    width: 100%;
    height: auto;
    margin: auto;
    left: 0;
    right: 0;
}

.navStart{
    min-height: 3rem;
    position: sticky;
    top: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 0 0.1% 0; 
    background-color: #fff;
    border-bottom: 1px solid rgb(202, 212, 188);
}

.smallLogo{
    height: 33px;
    width: auto;
    margin: 0 1% 0 10%;
}

.faIcons {
    margin: auto;
    font-size: 0.9rem;
    color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.faIcons p{
    font-size: 0.9rem;
    font-family: sans-serif;
    text-decoration: none;
}

.homeIcon,
.networkIcon,
.jobsIcon,
.msgIcon,
.notificationsIcon,
.meIcon{
    font-size: 12px;
    color: #666666;
    text-decoration: none;
}

.meIcon{
    margin-left: 14px;
    width: 20px;
}

.navStart button{
    height: 28px;
    width: 4%;
    border-radius: 15px;
    border: 1px solid transparent;
    margin: 0 0 0 5px;
    /* background-color: #0A66C2; */
    color: #fff;
    display: none;
}

.rightSection{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2% 0 10%;
    width: 50%;
    margin-left: 15%;
    box-sizing: border-box;
}
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 13%;
    padding: 1%;
}

.network {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 21%;
    padding: 1%;
}

.jobs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    padding: 1%;
}
.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    padding: 1%;
}
.notification{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    padding: 1%;
}
.signout{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 12%;
    padding: 1%;
    text-decoration: none;
}

.homeLink,
.netLink,
.jobLink,
.msgLink,
.notifyLink,
.signoutLink
{
    text-decoration: none;
}

.homeLink:hover,
.netLink:hover,
.jobLink:hover,
.msgLink:hover,
.notifyLink:hover,
.signoutLink:hover
{
    text-decoration: none;
    font-weight: 600;
}

.homeLogo {
    text-decoration: none;
}

.mainContainer{
    height: auto;
    min-height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #F3F2EF;
    overflow-x: hidden;
}

.MiddleBar{
    height: auto;
    width: 40%;
}

.PostShare{
    height: auto;
    width: 99%;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin: 7% 0 4.25%;
    border: 1px solid rgb(202, 212, 188);
}
.shareIcon{
    font-size: 1.5rem;
    color: grey;
    margin: 4% 3%;
}

.user_profile{
    display: flex;
    align-items: center;
    margin-left: 2%;
}

.form_submit{
    width: 98%;
}

.PostShare input{
    height: 8vh;
    width: 90%;
    border-radius: 20px;
    border: 1px solid  rgb(140, 143, 135);
    margin: 4% 3%;
    padding: 5px 5px 5px 10px;
}

.photoIcon {
    font-size: 1.5rem; 
    margin: 2% 5%;
    color: #0A66C2;
    cursor: pointer;
}

.videosIcon{
    font-size: 1.5rem;  
    margin: 2% 5%;
    color: green;
    cursor: pointer;
}

.eventsIcon{
    font-size: 1.5rem; 
    margin: 2% 5%;
    color: orange;
    cursor: pointer;
}

.articleIcon{
    font-size: 1.5rem;  
    margin: 2% 5%;
    color: red;
    cursor: pointer;
}


.sections{
    color: rgb(95, 95, 97);
}
.working_on_div__pad{
    text-align: center;
    padding: 20px;
    font-size: 1.2rem;
  }

  .share_box{
    display: flex;
    justify-content: center;
    padding: 1%;
  }
  .share_box >p{
    padding: 2px;
  }

.share_box-1{
    display: flex;
    width: 30%;
    border: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.share_box-2{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}
.share_box-3{
    display: flex;
    width: 35%;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}
.postDiv{
    height: auto;
    width: 98%;
    border: 1px solid rgb(202, 212, 188);
    border-radius: 20px;
    background-color: #fff;
}
.postME{
    font-size: 29px;
    margin: 10px 0px 0px 20px;
}
.postDiv h3{
    margin: 5px 0px 0px 20px;
    color: black;
}
.postDiv h4{
    margin: 5px 0px 0px 20px;
    padding-left: 15px;
}

.testingPara{
    margin: 10px 0px 5px 20px;
}
.testingHeading{
    margin: 5px 0px 80px 20px;
}
.likeArrow{
    font-size: 25px;
    margin: 5%;
    /* color: blue; */
}
.shareDetail{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.like_button{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
}
.comment{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
}
.deleteComment{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.commentArrow{
    font-size: 25px;
    margin: 5%;
}
.commentArrow span{
    font-size: 14px;
    margin: 5px 0px 10px 0px;
}
.comment-profile-pic{
    display: flex;
    justify-content: space-between;
}
.profile-pic-comment{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: auto;
    padding: 0% 2%;
}
.profile-picture{
    width: 7vh;
    height: auto;
}
.comntMe{
    color: grey;
    margin: 10% 25%;
}
.commentDiv{
    height: auto;
    width: 85%;
    border: none;
    margin: 0;
    border-radius: 20px;
    background-color: #fff;
    padding: 5px;
}
.commentDiv input{
    height: 7vh;
    width: 95%;
    border-radius: 20px;
    padding-left: 10px;
}
.comment-reply{
    width: 95%;
    height: auto;
    display: flex;
}
.reply-profile{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 2%;
}

.h5{
    color: black;
    margin: 2% 10%
}
.showComnt{
    margin: 2% 3%;
    color: #201f1f;
}

.loginOut{
    margin-left: -16px;
}

.user-name{
    text-decoration: none;
}

.comment-btn{
    border-radius: 5px;
}

span{
    font-size: 14px;
    text-decoration: none;
    color: black;
}


ul li {
    list-style-type: none;
    font-size: 10px;
} 
#autocomplete{
    height: 19px;
    width: 20%; 
    padding: 0 3px;
    margin: 0 3px; 
    border-color: lightblue; 
}
#text-field{
    height: 3em;
    padding: 0 3px;
    margin: -2px;
}
.loading-screen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .logo{
    width: 48px;
    height: 48px;
  }
  
  .loading-bar{
    width: 130px;
    height: 2px;
    background: #cfcfcf;
    margin-top: 22px;
    position: relative;
    overflow: hidden;
  }

  @keyframes bluebar{
    50%{
      left: 96px;
    }
  }

  .loading-bar::before{
    content: '';
    width: 68px;
    height: 2px;
    background: #0073b1;
    position: absolute;
    left: -34px;
    animation: bluebar 1.5s infinite ease;
  }
  
  .loading__text{
    font-size: 36px;
  }
  .logo_text{
    height: 30px;
  }
  .error_post_div{
    color: rgb(248, 61, 61);
    text-align: center;
  }
  
  .input__feed_style{
    flex: 0.9;
    border: 1px solid lightgray;
    border-radius: 30px;
    padding: 10px;
    color: gray;
    cursor: pointer;
    margin-top: 5px;
    padding-left: 15px;
    margin-left: 10px;
    /* width: 320px; */
  }


@media screen and (min-width: 201px) and (max-width: 750px) {
    *{
        font-size: 1.15rem;
    }
    .main{
        position: relative;
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: flex-start;
    }

    .mainContainer{
        display: inline-block;
        margin-top: 4%;
    }
     
    .navStart{
        width: 100%;
        max-width: 100%;
        position: absolute;
    }
    
    p {
        display: none;
    }

    .MiddleBar{
        display: inline-block;
        max-width: 100%;
        width: 100%;
        margin: 0 5% 2%;
        font-size: 0.8rem;
    }

    .PostShare{
        height: auto;
        width: 90%;
    }
    .PostShare input{
        height: auto;
        width: 50%;
    }

    .PostShare button{
        height: auto;
        width: 19%;
    }
    .photoIcon,
    .videosIcon,
    .eventsIcon,
    .articleIcon{
        margin: 1% 8%;
    }
    .postDiv{
        height: auto;
        width: 90%;
    }
}

@media screen and (min-width: 0px) and (max-width: 200px) {

    *{
        font-size: 0.8rem;
    }

    .mainContainer{
        display: inline-block;
        margin-top: 3%;
    }
    .photoIcon,
    .videosIcon,
    .eventsIcon,
    .articleIcon{
        margin: 1% 9%;
    }

    p {
        display: none;
    }

    .MiddleBar{
        display: inline-block;
        max-width: 100%;
        width: 90%;
        margin: 0% 5%;
        /* font-size: 0.8rem; */
    }

    .PostShare{
        height: auto;
        margin: 0 0 5%;
    }
    .PostShare input{
        height: auto;
        width: 45%;
    }

    .PostShare button{
        height: auto;
        width: 19%;
    }
    .photoIcon,
    .videosIcon,
    .eventsIcon,
    .articleIcon{
        margin: 1% 9%;
        font-size: 0.6rem;
    }
    .postDiv{
        height: auto;
        margin-bottom: 5%;
    }
    span{
        display: none;
    }
}
    
 
