*{
    padding: 0;
    /* font-size: 1rem; */
    box-sizing: border-box;
    font-family: sans-serif;
    color: #666666;
}

.main{
    width: 100%;
    height: auto;
    margin: auto;
    left: 0;
    right: 0;
}

.navStart{
    min-height: 3rem;
    position: sticky;
    top: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 0 0.1% 0; 
    background-color: #fff;
    border-bottom: 1px solid rgb(202, 212, 188);
}

.smallLogo{
    height: auto;
    width: 2.5%;
    margin: 0 0px 0px 10%;
}
.input1{
    height: 30px;
    width: 25%;
    margin: 0 0px 0px 2%;
    border: 0;
    background-color: aliceblue;
    border-radius: 5px;
}

.faIcons {
    margin: auto;
    font-size: 0.9rem;
    color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.faIcons p{
    font-size: 0.9rem;
    font-family: sans-serif;
    text-decoration: none;
}

.homeIcon,
.networkIcon,
.jobsIcon,
.msgIcon,
.notificationsIcon,
.meIcon{
    font-size: 0.8rem;
    color: #666666;
}

.meIcon{
    margin-left: 4px;
    width: 20px;
}

.navStart button{
    height: 40px;
    width: 4%;
    border-radius: 15px;
    border: 1px solid grey;
    margin: 7px 0px 0px 5px;
    background-color: #0A66C2;
    color: #fff;
}

.rightSection{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2% 0 15%;
    width: 60%;
    box-sizing: border-box;
}
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    padding: 1%;
}

.network {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 1%;
}

.jobs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    padding: 1%;
}
.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    padding: 1%;
}
.notification{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    padding: 1%;
}
.signout{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 10%;
    padding: 1%;
}

.homeLink,
.netLink,
.jobLink,
.msgLink,
.notifyLink,
.signoutLink
{
    text-decoration: none;
}

.homeLogo {
    text-decoration: none;
}

.mainContainer{
    height: auto;
    min-height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #F3F2EF;
    overflow-x: hidden;
}

.MiddleBar{
    height: auto;
    width: 40%;
}

.PostShare{
    height: auto;
    width: 99%;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin: 7% 0 4.25%;
    border: 1px solid rgb(202, 212, 188);
}
.shareIcon{
    font-size: 1.5rem;
    color: grey;
    margin: 4% 3%;
}

.user_profile{
    display: flex;
    align-items: center;
}

.form_submit{
    width: 98%;
}

.PostShare input{
    height: 8vh;
    width: 90%;
    border-radius: 20px;
    border: 1px solid  rgb(140, 143, 135);
    margin: 4% 3%;
    padding: 5px 5px 5px 10px;
}

.photoIcon {
    font-size: 1.5rem; 
    margin: 2% 5%;
    color: #0A66C2;
    cursor: pointer;
}
/* .photoIcon .photos{
    font-size: 0.85rem;
    color: grey;
} */
.videosIcon{
    font-size: 1.5rem;  
    margin: 2% 5%;
    color: green;
    cursor: pointer;
}
/* .videosIcon p{
    font-size: 0.85rem;
    color: grey;
} */
.eventsIcon{
    font-size: 1.5rem; 
    margin: 2% 5%;
    color: orange;
    cursor: pointer;
}
/* .eventsIcon p{
    font-size: 0.85rem;
    color: grey;
    text-align: center;
} */
.articleIcon{
    font-size: 1.5rem;  
    margin: 2% 5%;
    color: red;
    cursor: pointer;
}
/* .articleIcon p{
    font-size: 0.85rem;
    color: grey;
} */

.sections{
    color: rgb(95, 95, 97);
}
.working_on_div__pad{
    text-align: center;
    padding: 20px;
    font-size: 1.2rem;
  }

  .share_box{
    display: flex;
    justify-content: center;
    padding: 1%;
  }
  .share_box >p{
    padding: 2px;
  }

.share_box-1{
    display: flex;
    width: 30%;
    border: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.share_box-2{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}
.share_box-3{
    display: flex;
    width: 35%;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}
.postDiv{
    height: auto;
    width: 98%;
    border: 1px solid grey;
    /* margin: auto; */
    border-radius: 20px;
    background-color: #fff;
}
.postME{
    font-size: 29px;
    margin: 10px 0px 0px 20px;
}
.postDiv h3{
    margin: 5px 0px 0px 20px;
    color: black;
}
.postDiv h4{
    margin: 5px 0px 0px 20px;
    padding-left: 15px;
}

.testingPara{
    margin: 10px 0px 5px 20px;
}
.testingHeading{
    margin: 5px 0px 80px 20px;
}
.likeArrow{
    font-size: 25px;
    margin: 5%;
    /* color: blue; */
}
.shareDetail{
    display: flex;
    width: 100%;
    justify-content: center;
}
.like_button{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
}
.comment{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
}
.deleteComment{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.commentArrow{
    font-size: 25px;
    margin: 5%;
}
.commentArrow span{
    font-size: 14px;
    margin: 5px 0px 10px 0px;
}
.comment-profile-pic{
    display: flex;
    justify-content: space-between;
}
.profile-pic-comment{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: auto;
    padding: 0% 2%;
}
.profile-picture{
    width: 7vh;
    height: auto;
}
.profile-picture .comntMe{
    color: grey;
    margin: 3% 5%;
}
.commentDiv{
    height: auto;
    width: 85%;
    border: none;
    margin: 0;
    border-radius: 20px;
    background-color: #fff;
    padding: 5px;
}
.commentDiv input{
    height: 7vh;
    width: 95%;
    border-radius: 20px;
    padding-left: 10px;
}
.comment-reply{
    width: 95%;
    height: auto;
    display: flex;
}
.reply-profile{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.comntMe{
    color: grey;
    margin: 2% 10%;
}
.h5{
    color: black;
    margin: 2% 10%
}
.showComnt{
    margin: 2% 3%;
    font-weight: bold;
}

.loginOut{
    margin-left: -16px;
}

.user-name{
    text-decoration: none;
}

.comment-btn{
    border-radius: 5px;
}

span{
    font-size: 14px;
    text-decoration: none;
    color: black;
}



@media screen and (min-width: 201px) and (max-width: 750px) {
    *{
        font-size: 1.15rem;
    }
    .main{
        position: relative;
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: flex-start;
    }

    .mainContainer{
        display: inline-block;
        margin-top: 3%;
    }
     
    .navStart{
        width: 100%;
        max-width: 100%;
        position: absolute;
    }
    
    p {
        display: none;
    }

    .MiddleBar{
        display: inline-block;
        max-width: 100%;
        width: 100%;
        margin: 0 5% 2%;
        font-size: 0.8rem;
    }

    .PostShare{
        height: auto;
        width: 90%;
    }
    .PostShare input{
        height: auto;
        width: 50%;
    }

    .PostShare button{
        height: auto;
        width: 19%;
    }
    .photoIcon,
    .videosIcon,
    .eventsIcon,
    .articleIcon{
        margin: 1% 8%;
    }
    .postDiv{
        height: auto;
        width: 90%;
    }
}

@media screen and (min-width: 0px) and (max-width: 200px) {

    *{
        font-size: 0.8rem;
    }

    .mainContainer{
        display: inline-block;
        margin-top: 3%;
    }
    .photoIcon,
    .videosIcon,
    .eventsIcon,
    .articleIcon{
        margin: 1% 9%;
    }

    p {
        display: none;
    }

    .MiddleBar{
        display: inline-block;
        max-width: 100%;
        width: 90%;
        margin: 0% 5%;
        /* font-size: 0.8rem; */
    }

    .PostShare{
        height: auto;
        margin: 0 0 5%;
    }
    .PostShare input{
        height: auto;
        width: 45%;
    }

    .PostShare button{
        height: auto;
        width: 19%;
    }
    .photoIcon,
    .videosIcon,
    .eventsIcon,
    .articleIcon{
        margin: 1% 9%;
        font-size: 0.6rem;
    }
    .postDiv{
        height: auto;
        margin-bottom: 5%;
    }
    span{
        display: none;
    }
}
    

/* @media screen and (max-width: 750px) and (min-width: 481px) {
    
    *{
        font-size: 1rem;
    }
    .navStart p { 
        font-size: 0.7rem; 
    }   /* hide it elsewhere 
    .navStart{
        position: sticky;
    }
    .rightSection{
        padding: 0 2% 0 0;
    }
    .photoIcon,
    .videosIcon,
    .eventsIcon,
    .articleIcon{
        margin: 1% 4%;
        font-size: 0.6rem;
    }

    p {
        font-size: 0.5rem;
    }
    .MiddleBar{
        display: inline-block;
        max-width: 100%;
        width: 90%;
        margin: 0% 5%;
        /* font-size: 0.8rem; 
    }

    .PostShare{
        height: auto;
        width: 90%;
        margin: 0 5%;
    }
    .postDiv{
        height: auto;
        width: 98%;
        margin: auto;
    }
  } 
 */