.leftSideBar{
    height: auto;
    width: 24%;
    font-family: sans-serif;
}
.upperDiv{
    height: 45%;
    width: 70%;
    margin: 12% 21% 5%;
    font-size: 1rem;
    border: 1px solid rgb(202, 212, 188);
    border-radius: 10px;
    background-color: #FFFFFF;   
}

.upperDiv h3{
    margin: 7% 35%;
    color: black;
    font-size: 1.1rem;
}

 .connections{
    margin: 4% 4%;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}
.connectionCount{
    color: #0A66C2;
    margin: auto;
    font-weight: bolder;
}

.postCount{
    color: #0A66C2;
    margin: auto;
    font-weight: bolder;
}
.growYour{
    margin: 4% 4%;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}
.upperDiv .access{
    margin: 10% 4%;
    font-size: 0.8rem;
}
.upperDiv .bookmark{
    margin: 10px 0px 0px 10px;
}

.camera{
    height: 22%;
    width: 38%;
    border-radius: 70px;
    margin: 10% 30%;
}

.cameraIcon{
    font-size: 23px;
    margin: 20%;
    border-radius: 50%;
}
.lowerDiv{
    height: 45%;
    width: 70%;
    margin: 7% 21%;
    font-size: 0.9rem;
    border: 1px solid rgb(202, 212, 188);
    border-radius: 10px;
    background-color: #FFFFFF; 
}
.lowerDiv p{
    margin: 9% 6%;
    font-family: sans-serif;
    padding: 5px;
    font-weight: bolder;
}
.lowerDiv h5{
    color: gray;
    margin: 6% 6%;
    padding: 5px;
    font-weight: bolder;
}
.lowerDiv h5:hover{
    border: 0 solid gainsboro;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    cursor: pointer;
    color: black;
}

@media screen and (min-width: 201px) and (max-width: 750px) {
    /* *{
        font-size: 1rem;
    } */
    .leftSideBar{
        display: inline-block;
        max-width: 100%;
        margin: 0 0 0 -5%;
        width: 100%;
    }
    .upperDiv{
        width: 90%;
        max-width: 100%;
        margin: 11% 0 0 10%;
    }
    .upperDiv h3{
        margin: 7% 43%;
        color: black;
        font-size: 1.1rem;
    }
    .camera{
        border-radius: 50%;
        margin: 10% 40%;
    }
    .lowerDiv {
        width: 90%;
        max-width: 100%;
        margin: 5% 0 0 10%;
    }


}

@media screen and (min-width: 0px) and (max-width: 200px) {
    .leftSideBar{
        display: inline-block;
        max-width: 100%;
        margin: 7% 0 0 0;
        width: 95%;
    }
    .upperDiv,
    .lowerDiv {
        width: 95%;
        max-width: 100%;
        margin-left: 5%;
    }
}

@media screen and (min-width: 201px) and (max-width: 750px) { 
    
    .upperDiv h3{
        font-size: 1.1rem;
    }
}
