.leftSideBar{
    height: auto;
    width: 20%;
    margin: 0 22px 0 0;
    font-family: sans-serif;
}
.upperDiv{
    height: auto;
    width: 90%;
    margin: 10% 7% 4.25% 11%;/* 20px 20px 0 10px; */
    padding: 5% 0;
    font-size: 1rem;
    border: 1px solid rgb(202, 212, 188);
    border-radius: 10px;
    background-color: #FFFFFF;   
}
.upperDiv_profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upperDiv .h3_title{
    margin: 0 30% 7%;
    color: black;
    font-size: 20px;
}
.connection_detail{
    display: flex;
    justify-content: space-between;
}

 .connections{
    margin: 4% 4%;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}
.connectionCount{
    color: #0A66C2;
    /* margin: auto; */
    margin: 4%;
    font-weight: bolder;
    font-size: 15px;
}

.postCount{
    color: #0A66C2;
    /* margin: auto; */
    margin: 4%;
    font-weight: bolder;
    font-size: 15px;
}
.growYour{
    margin: 4% 4%;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}
.upperDiv .access{
    margin: 10% 4%;
    font-size: 0.8rem;
}
.upperDiv .bookmark{
    margin: 10px 0px 0px 10px;
}

.camera{
    height: auto;
    width: auto;
    border-radius: 70px;
    margin: 5% 0;
}

.cameraIcon{
    font-size: 23px;
    margin: 20%;
    border-radius: 50%;
}
.lowerDiv{
    height: auto;
    width: 90%;
    margin: 10% 7% 4.25% 11%;
    padding: 5% 0;
    font-size: 0.9rem;
    border: 1px solid rgb(202, 212, 188);
    border-radius: 10px;
    background-color: #FFFFFF; 
}
.lowerDiv p{
    margin: 9% 6%;
    font-family: sans-serif;
    padding: 5px;
    font-weight: bolder;
}
.lowerDiv .h5_title{
    color: gray;
    margin: 6% 6%;
    padding: 5px;
    font-weight: bolder;
}
.lowerDiv h5:hover{
    border: 0 solid gainsboro;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    cursor: pointer;
    color: black;
}

@media screen and (min-width: 581px) and (max-width: 750px) {
    /* *{
        font-size: 1rem;
    } */
    .leftSideBar{
        display: inline-block;
        max-width: 100%;
        margin: 0 0 0 -5%;
        width: 100%;
    }
    .upperDiv{
        width: 100%;
        max-width: 100%;
        margin: 5% 0 0 5%;
        border-radius: 4px;
    }
    .upperDiv h3{
        margin: 0;
        color: black;
        font-size: 20px;
    }
    .camera{
        /* border-radius: 50%;*/
        margin: 0 0 2%; 
        width: 15.5%;
    }
    .lowerDiv {
        width: 100%;
        max-width: 100%;
        margin: 5% 0 0 5%;
        display: none;
    }
    #avatar{
        width: 100px;
        height: 100px;
    }
}

@media screen and (min-width: 0px) and (max-width: 580px) {
    .leftSideBar{
        display: inline-block;
        max-width: 100%;
        margin: 0;
        width: 100%;
    }
    .upperDiv{
        width: 100%;
        max-width: 100%;
        margin: 13% 0 0;
        border-radius: 4px;
    }
    .lowerDiv {
        width: 100%;
        max-width: 100%;
        margin: 4% 0 0;
        display: none;
    }
    #lowerDiv recent{
        display: block;
    }
    .camera{
        /* border-radius: 50%; */
        margin: 0 0 2%;
        width: 15%;
    }
    #avatar{
        width: 70px;
        height: 70px;
    }
    .upperDiv h3{
        margin: 0;
        color: black;
        font-size: 20px;
    }
}

@media screen and (min-width: 751px) and (max-width: 1024px) {
/* .leftSideBar {
    height: auto;
    width: 20%;
    margin: 10px 30px 0 0;
    font-family: sans-serif;
    } */
}