@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 /* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

.navbar{
    position: sticky;
    height: 13vh;
    width: 100%;
    max-width: 100%;
    padding: 2px 16px 0 16px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: 1% 0;
}

.linkHome{
    width: 25%;
}

.signin_signout{
    width: 35%;
    display: flex;
    justify-content: center;
}

.loginLink{
    width: 24%;
}

.newuserLink{
    width: 24%;
}
.loginLogo{
    height: 10vh;
    width: 75%;
    float: left;
    margin: 2% 5%;
}

.join{
    /* float: right; */
    margin: 2% 0;
    height: 9vh;
    width: 50%;
    border-radius: 25px;
    border: 0;
    background-color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.join:hover{
    background-color: lightgray;
}
.sign{
    margin: 2% 0 2% 20%;
    height: 9vh;
    width: 50%;
    border-radius: 25px;
    border: 1px solid blue;
    background-color: #fff;
    color: #0A66C2;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.divAfterNav{
    height: auto;
    width: 100%;
    display: flex;
    background-color: white;
    padding: 24px 16px 0 16px;
    /* border: 1px solid green; */
}
.leftSide{
    height: auto;
    width: 50%;
    /* border: 1px solid green; */
}
.leftSide p{
    font-size: 1.7rem;
    word-spacing: 5px;
    margin: 2% 10%;
    color: #8F5849;
    font-family: sans-serif;
    
}
/* input[type="email"],
input[type="password"]{
    height: 6vh;
    width: 62%;
    margin: 2% 13%;
    border-radius: 6px;
} */
.username-login{
    height: 6vh;
    width: 62%;
    margin: 2% 13%;
    border-radius: 6px;
    padding-left: 5px;
}
.password-login{
    height: 6vh;
    width: 62%;
    margin: 2% 13%;
    border-radius: 6px;
    padding-left: 5px;
}

.checkShowPassword{
    width: 90%;
    display: flex;
    margin: 1% 5%;
}
.checkShowPassword label{
    margin: 2%;
}
.checkShowPassword input{
    margin: 2% 2% 2% 12%;
}

.leftSide .email,
.password {
    margin: 2% 13%;
    font-family: sans-serif;
}
.leftSide .forPass{
    font-size: 18px;
    font-family: sans-serif;
    margin: 10px 0px 10px 50px;
    text-decoration: none;
    color: #0A66C2;
}
.leftSide .signIn{
    height: 7vh;
    width: 62%;
    border: 0;
    font-size: 14px;
    background-color: #0A66C2;
    border-radius: 25px;
    color: #fff;
    font-family: sans-serif;
    margin: 1% 12% 3%;
}
.firsthr{
    width: 25%;
    margin-left: 12%;
    /* margin-top: 19px; */
}
.secondhr{
    width: 25%;
    margin-left: 67%;
    margin-top: -9px;
}
.orr{
    margin-left: 50%;
    margin-top: -9px;
}
.leftSide span{
    margin: 2% 30%;
}
.line{
    display: flex;
    flex-direction: column;
    margin: 2% 0 3%;
}

.newtoLinkedIn{
    height: 7vh;
    width: 62%;
    border: 1px solid black;
    border-radius: 25px;
    font-family: sans-serif;
    margin: 2% 12%;
    background-color: #fff;
    font-size: 14px;
}

.newtoLinkedIn:hover{
    background-color: gray;
    font-weight: bolder;
    border: none;
}

.rightWithImg{
    height: auto;
    width: 45%;
}

.rightWithImg img{
    width: 95%;
    margin-top: 5%;
    height: auto;
}
#validation-email_password{
    font-size: 11px;
    color: red;
    margin: -1% 14%;
}

@media screen and (min-width: 0px) and (max-width: 239px) {  
    .navbar{
        height: 12vh;
        width: 100%;
        max-width: 100%;
        display: flex;
        padding: 5px;
        background-color: white;
    }
    .loginLogo {
        height: 10vh;
        width:80%;
        margin: 2% 5%;
    }
    .sign {
        margin: 2% 5%;
        height: 10vh;
        width: 80%;
        border: 1px solid transparent;
        font-size: 1rem;
    }
    .join {
        margin: 2% 10%;
        height: 10vh;
        width: 80%;
        border: 1px solid transparent;
        font-size: 1rem;
    }
    .linkHome {
        width: 50%;
        height: 10vh;
    }
    .loginLink{
        width: 25%;
        height: 10vh;
    }
    .newuserLink{
        width: 25%;
        height: 10vh;
    }
    .divAfterNav {
        height: auto;
        width: 100%;
        max-width: 100%;
        background-color: white;
    }
    .leftSide {
        height: auto;
        width: 95%;
        max-width: 100%;
        margin: 2% 5%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .leftSide p{
        font-size: 1.5rem;
        margin: 0 1% 2% 15%;
        display: block;
    }
    #username-login,
    #password-login {
        height: 6vh;
        width: 62%;
        margin: 2% 13%;
        font-size: 1.5rem;
    }

    .leftSide label{
        margin: 0 10% 0 15%;
        font-size: 1.3rem;
    }
    .checkShowPassword{
        width: 90%;
        display: flex;
        margin: 2% 5%;
    }
    .checkShowPassword label{
        margin: 2%;
    }
    .checkShowPassword input{
        margin: 2% 5% 2% 10%;
    }
    
    .leftSide .signIn{
        height: 5vh;
        width: 54%;
        font-size: 1.4rem;
        margin: 5% 25%;
    }
    .line .firsthr,
    .secondhr{
        display: none;
    }
    .line{
        display: none;
    }
    .orr{
        display: none;
    }

    .newtoLinkedIn
    {
        height: 5vh;
        width: 50%;
        margin: 2% 25%;
        font-size: 0.7rem;
        border: none;
    }
    .newtoLinkedIn:hover{
        background-color: gray;
        color: white;
    }

    .leftSide span{
        margin: 2% 14%;
    }

    .rightWithImg {
        display: none;
    }

}

@media screen and (min-width: 240px) and (max-width: 750px) { 

    .navbar{
        height: 12vh;
        display: flex;
        background-color: white;
    }
    .signin_signout {
        width: 50%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .loginLogo {
        height: 47px;
        width: 60%;
        margin: 2% 5%;
    }
    .sign {
        margin: 2% 5% 0 25%;
        height: 8vh;
        width: 70%;
        font-size: 16px;
    }
    .join {
        margin: 2% 5% 0 10%;
        height: 8vh;
        width: 90%;
        border: 1px solid transparent;
        font-size: 16px;
    }
    .join:hover{
        background-color: lightgray;
    }
    .linkHome {
        width: 50%;
        height: 10vh;
    }
    .loginLink{
        width: 50%;
        height: 50px;
    }
    .newuserLink{
        width: 40%;
        height: 50px;
    }
    .divAfterNav {
        height: auto;
        width: 100%;
        max-width: 100%;
        background-color: white;
    }
    .leftSide {
        height: auto;
        width: 95%;
        max-width: 100%;
        margin: 2% 5%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .leftSide p{
        font-size: 24px;
        font-weight: 300;
        margin: 0 1% 2% 0;
        display: block;
        color: rgb(143, 88, 73)
    }
    #username-login {
        height: 10vh;
        width: 97%;
        margin: 1%;
        font-size: 1rem;
    }
    #password-login {
        height: 10vh;
        width: 97%;
        margin: 1%;
        font-size: 1rem;
    }

    .leftSide .email,
    .password{
        margin: 0 10% 0 0;
        font-size: 1rem;
    }
    .checkShowPassword{
        width: 90%;
        display: flex;
        margin: 2% 0;
    }
    .checkShowPassword label{
        margin: 2%;
        font-size: 1rem;
    }
    .checkShowPassword input{
        margin: 2% 2%;
    }
    
    .signIn{
        height: 9vh;
        width: 75%;
        font-size: 1rem;
        margin: 1% 12% 10%;
        cursor: pointer;
    }
    
    .line{
        display: flex;
        width: 97%;
        margin: 2%;
        justify-content: space-around;
    }

    .hr1{
        display: block;
    }
    .orr{
        display: block;
    }

    .hr2{
        display: block;
    }
    .secondhr {
        width: 25%;
        margin-left: 67%;
        margin-top: -17px;
    }
    .newtoLinkedIn
    {
        height: 9vh;
        width: 97%;
        margin: 2% 0;
        font-size: 1rem;
        border: 1px solid black;
    }
    .newtoLinkedIn:hover{
        background-color: gray;
        color: white;
    }

    .leftSide span{
        margin: 2% 33%;
        font-size: 1rem;
    }

    .rightWithImg {
        display: none;
    }
}

/* @media screen and (min-width: 481px) and (max-width: 750px) { 
    .navbar{
        height: 12vh;
        width: 100%;
        max-width: 100%;
        display: flex;
        padding: 5px;
    }
    .loginLogo {
        height: 10vh;
        width: 40%;
        margin: 2% 5%;
    }
    .navbar .sign {
        margin: 15% 0 5% 90%;
        height: 5vh;
        width: 50%;
        border: 1px solid transparent;
        font-size: 1rem;
    }
    .navbar .join {
        margin: 15% 5%;
        height: 5vh;
        width: 50%;
        border: 1px solid transparent;
        font-size: 1rem;
    }
    .linkHome {
        width: 50%;
        height: 12vh;
    }
    .loginLink{
        width: 25%;
        height: 12vh;
    }
    .newuserLink{
        width: 25%;
        height: 12vh;
    }
    .divAfterNav {
        height: auto;
        width: 100%;
        max-width: 100%;
    }
    .leftSide {
        height: auto;
        width: 95%;
        max-width: 100%;
        margin: 2% 5%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .leftSide p{
        font-size: 1.5rem;
        margin: 0 1% 2% 15%;
        display: block;
    }
    #username,
    #password {
        height: 6vh;
        width: 62%;
        margin: 2% 13%;
        font-size: 1.5rem;
    }

    .leftSide label{
        margin: 0 10% 0 15%;
        font-size: 1.3rem;
    }
    .checkShowPassword{
        width: 90%;
        display: flex;
        margin: 2% 5%;
    }
    .checkShowPassword label{
        margin: 2%;
    }
    .checkShowPassword input{
        margin: 2% 2% 2% 12%;
    }
    
    .leftSide .signIn{
        height: 5vh;
        width: 50%;
        font-size: 1.4rem;
        margin: 5% 17%;
    }
    .leftSide .firsthr,
    .secondhr{
        display: none;
    }

    .line{
        display: none;
    }
    
    .orr{
       display: none;
    }

    .leftSide .newtoLinkedIn
    {
        height: 5vh;
        width: 50%;
        margin: 2% 17%;
        font-size: 1.4rem;
        border: none;
    }
    .newtoLinkedIn:hover{
        background-color: gray;
        color: white;
    }

    .leftSide span{
        margin: 2% 33%;
        font-size: 1rem;
    }

    .rightWithImg {
        display: none;
    }
} */