*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.newuser_main{
  background-color: white;
  width: 70%;
  height: auto;
  margin: auto;
  left: 0;
  right: 0;
}

.newUserNav{
  height: 70px;
  width: 100%;
}
.newUserNav img{
  height: 30px;
  width: 15%;
  margin: 1% 3%;
  background-color: transparent;
}
.centerDiv p{
  text-align: center;
  font-size: 22px;
  font-family: sans-serif;
  margin: 0 0 2% 0;
}
.formDiv{
  height: 75vh;
  border-radius: 10px;
  width: 50%;
  margin: 0% 25%;
  padding-top: 3%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}
.formDiv label{
  margin: 0% 6%;
  font-size: 16px;
  color: grey;
  padding: 2% 0%;
}
.formDiv input {
  height: 45px;
  width: 88%;
  margin: 2% 6% 4%;
  border-radius: 10px;
  padding-left: 5px;
}
.formDiv p{
  font-size: 0.9rem;
  color: grey;
  margin: 0 2% 5%;
  text-align: center;
}
.formDiv p span{
  color: #0A66C2;
  font-weight: 600;
}
.formDiv button{
  height: 8vh;
  width: 90%;
  background-color: #0A66C2;
  border: 0;
  border-radius: 25px;
  color: aliceblue;
  font-weight: 600;
  margin-left: 5%;
}
.formDiv h4{
  margin: 3% 33%;
  font-size: 0.9rem;
}

.formDiv a{
  text-decoration: none;
  color: gray;
  font-size: 1rem;
}

@media screen and (min-width: 240px) and (max-width: 750px) { 


  .newuser_main {
    background-color: white;
    width: 530px;
    height: 653px;
    margin: auto;
    left: 0;
    right: 0;
}

  .newUserNav{
    height: 50px;
  }

  .newUserNav img{
    height: 30px;
    width: 22%;
    margin: 1% 3%;
  }
  .centerDiv p{
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
    margin: 3% 0;
    display: block;
  }
  .formDiv{
    height: auto;
    width: 90%;
    margin: 10% 5%;
    padding: 2%;
  }
  .formDiv p{
    font-size: 14px;
    display: block;
  }
  .formDiv input{
    width: 90%;
    height: 45px;
    border-radius: 10px;
  }

  span{
    font-weight: 100;
    font-size: 10px;
  }
  .formDiv button{
    width: 90%;
    margin-left: 6%;
  }
  .formDiv label{
    font-size: 1rem;
  }
}

@media screen and (min-width: 0px) and (max-width: 239px) { 

 /* *{
  font-size: 0.5rem;
  } */
  .newuser_main{
    background-color: white;
    /* width: 500px; */
    width: 530px;
    height: 532px;
    margin: auto;
    left: 0;
    right: 0;
  }
 .newUserNav img{
  height: 9vh;
  width: 35%;
  margin: 1% 3%;
  }
 .formDiv{
  height: auto;
  width: 90%;
  margin: 10% 5%;
  padding: 2%;
  }
  .formDiv label{
    font-size: 20px;
  }
}

/* @media screen and (max-width: 750px) and (min-width: 481px) {
  *{
    font-size: 0.8rem;
  }
  .formDiv{
    height: auto;
    width: 50%;
    margin: 0% 25%;
    padding: 2%;
  }

} */
