<<<<<<< HEAD
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(247, 244, 238); 
}
.newUserNav{
  height: 15vh;
  width: 100%;
}
.newUserNav img{
  height: 20vh;
  width: 15%;
  margin: 1% 5%;
}
.centerDiv p{
  text-align: center;
  font-size: 2rem;
  font-family: sans-serif;
  margin: 0 0 2% 0;
}
.formDiv{
  height: 70vh;
  border-radius: 10px;
  width: 30%;
  margin: 0% 35%;
  padding-top: 2%;
  box-shadow: 5px solid whitesmoke;
  background-color: #fff;
}
.formDiv label{
  margin: 0% 6%;
  font-size: 1rem;
  color: grey;
  padding: 5% 0%;
}
.formDiv input {
  height: 5vh;
  width: 90%;
  margin: 5% 6%;

}
.formDiv p{
  font-size: 0.9rem;
  color: grey;
  margin: 0 2% 5%;
  text-align: center;
}
.formDiv p span{
  color: #0A66C2;
  font-weight: 600;
}
.formDiv button{
  height: 6vh;
  width: 90%;
  background-color: #0A66C2;
  border: 0;
  border-radius: 25px;
  color: aliceblue;
  font-weight: 600;
  margin-left: 5%;
}
.formDiv h4{
  margin: 3% 20% 0 20%;
  font-size: 0.9rem;
}

.formDiv a{
  text-decoration: none;
  color: gray;
  font-size: 1rem;
}

@media screen and (min-width: 201px) and (max-width: 480px) { 

 *{
    font-size: 0.7rem;
  }

  .newUserNav{
    height: 12vh;
  }

  .newUserNav img{
    height: 11vh;
    width: 25%;
    margin: 1% 5%;
  }
  .centerDiv p{
    text-align: center;
    font-size: 1rem;
    font-family: sans-serif;
    margin: 0 0 2% 0;
    display: block;
  }
  .formDiv{
    height: auto;
    width: 90%;
    margin: 0% 5%;
    padding: 2%;
  }
  .formDiv p{
    font-size: 0.6rem;
    display: block;
  }
  span{
    font-weight: 100;
    font-size: 0.6rem;
  }
  .formDiv button{
    width: 80%;
    margin-left: 10%;
  }
  .formDiv label{
    font-size: 1rem;
  }
}

@media screen and (min-width: 0px) and (max-width: 200px) { 

 *{
  font-size: 0.5rem;
  }
 .newUserNav img{
  height: 10vh;
  width: 70%;
  margin: 1% 5%;
  }
 .formDiv{
  height: auto;
  width: 90%;
  margin: 0% 5%;
  padding: 2%;
  }
}

@media screen and (max-width: 750px) and (min-width: 481px) {
  *{
    font-size: 0.8rem;
  }
  .formDiv{
    height: auto;
    width: 50%;
    margin: 0% 25%;
    padding: 2%;
  }

}
=======
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(247, 244, 238); 
}
.newUserNav{
  height: 90px;
  width: 100%;
  /* background-color: aqua; */
}
.newUserNav img{
  height: 150px;
  width: 15%;
  margin: -20px 0px 10px 50px;
}
.centerDiv p{
  text-align: center;
  font-size: 33px;
  font-family: sans-serif;
  margin: 0px 0px 20px 0px;
}
.formDiv{
  height: 400px;
 border-radius: 8px;
  width: 30%;
   margin-left: 450px;
   box-shadow: 5px solid whitesmoke;
   background-color: #fff;
 
}
.formDiv label{
  margin: 40px 10px 20px 20px;
  margin-top: 20px;
  color: grey;
}
.formDiv input {
  height: 35px;
  width: 90%;
  margin: 5px 10px 20px 20px;

}
.formDiv p{
  font-size: 13px;
  color: grey;
  margin: 0px 30px 10px 30px;
  text-align: center;
}
.formDiv p span{
  color: #0A66C2;
  font-weight: 600;
}
.formDiv button{
  height: 47px;
  width: 90%;
  background-color: #0A66C2;
  border: 0;
  border-radius: 25px;
  color: aliceblue;
  font-weight: 600;
  margin-left: 20px;
}
.formDiv h4{
  margin: 10px 0px 0px 90px;
}
>>>>>>> bf76f83fbe40d6361d726c68f6a8852f428b8d64
