.RightSideBar{
    height: auto;
    width: 24%;
    font-size: 0.7rem;
}

.upperRight{
    height: auto;
    width: 75%;
    margin: 9% 7% 0;
    padding: 1%;
    border: 1px solid rgb(202, 212, 188);
    border-radius: 10px;
    background-color: #FFFFFF;; 
}
.upperRight h5{
    margin: 3% 7%;
    font-size: 0.9rem;
}
.upperRight p{
    margin: 3% 8%;
    font-size: 0.9rem;
}
.upperRight button{
    width: 50%;
    height: 4vh;
    border-radius: 20px;
    margin: 0 10% 2%;
    background-color: #fff;
    color: #0177b7;
    font-size: 14px;
    font-weight: bold;
    border: 0.5px solid grey;
}
/* .upperRight button:hover{
    background-color: none;
    font-weight: bolder;
    color: lightblue;
} */
.upperRight a{
    font-size: 13px;
    text-decoration: none;
    margin: 0px 0px 10px 10px;
}
.middleRight{
    height: 35.5%;
    width: 75%;
    margin: 7%;
    border: 1px solid rgb(202, 212, 188);
    border-radius: 10px;
    background-color: #FFFFFF;; 
}
.middleRight img{
    width: 95%;
    height: 190px;
    margin: 5px 7px 7px 6px;
}
.lowerRight{
    height: 15%;
    width: 75%;
    margin: 7%;
    border: 1px solid rgb(202, 212, 188);
    border-radius: 10px;
    background-color: #FFFFFF;; 
}
.lowerRight h4{
    margin: 5% 2%;
    text-align: center;
    font-size: 15px;
}

/* .lowerRight a{
    margin: 10%;
} */

.git{
    text-decoration: none;
    color: #666666;
    padding: 5px 22px;
    font-size: 14px;
}

@media screen and (min-width: 581px) and (max-width: 750px) {
    /* *{
        font-size: 1.2rem;
    } */
    .RightSideBar {
        width: 100%;
        max-width: 100%;
        height: auto;
        display: inline-block;
    }

    .upperRight,
    .lowerRight{
        width: 100%;
        max-width: 100%;
        height: auto;
        margin: 0;
    }

    .lowerRight{
        margin-top: 5%;
    }

    .upperRight p{
        display: block;
    }
    .lowerRight .h4 > h4{
        margin: 5% 2%;
        font-size: 1rem;
    }
    /* .lowerRight a{
        font-size: 1rem;
        margin: 0.5% 25% 5%;
    } */
    .gitDiv{
        font-size: 1rem;
        margin: 0.5% 25% 5%;
    }
    .h4{
        margin: 5%;
    }
    .git{
        font-size: 1rem;
    }
}

@media screen and (min-width: 0px) and (max-width: 580px) { 
    .RightSideBar {
        width: 100%;
        max-width: 100%;
        height: auto;
        display: inline-block;
    }

    .upperRight,
    .lowerRight{
        width: 100%;
        max-width: 100%;
        height: auto;
        margin: 0;
    }

    .lowerRight{
        margin-top: 5%;
    }

    .upperRight p{
        display: block;
    }
    .lowerRight a{
        font-size: 14px;
        margin: 25%;
    }

}

/* @media screen and (max-width: 992px) {

    .RightSideBar{
        display: none;
    }
} */